@import "./variables.scss";

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-width: 50%;
  max-height: 50%;
  margin: 20% auto;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.modalContainer .footerModal {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footerModal button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: $color2;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

#cancelBtn {
  background-color: $color2;
}
